<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sorteio Instagram</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style/estilo.css')}}">
</head>
<body>
    <div class="titulo wrap">
        <img src="{{url_for('static', filename='imagens/logo3.png')}}" alt="Logo">
        <div class="links">
            <ul>
                <li><a href="/login">Login</a></li>
                <li><a href="/cadastrar">Cadastrar</a></li>
                <li><a href="/cadastrar">Contato</a></li>
                <li><a href="/cadastrar">Sobre</a></li>
            </ul>
        </div>
        
        
    </div>
</body>
</html>